.main {
  color: white;
}

.slider {
  margin-left: 20em;
}

.networth {
  margin-bottom: 3em;
}

.MuiSlider-vertical .MuiSlider-rail {
  width: 0.8em;
  background-color: white;
}

.MuiSlider-track {
  height: 0.3em;
  width: 0.8em;
  background-color: rgb(212, 212, 212);
}

.MuiSlider-markLabel {
  color: white;
  font-size: 20px;
  margin-left: 1em;
}

.PrivateValueLabel-label-10 {
  margin-right: 12em; 
  margin-bottom: 6em;
}

.PrivateValueLabel-offset-8 {
  font-size: 1.125em;
}

.PrivateValueLabel-circle-9 {
  background-color: #99cc66;
}

.MuiSlider-thumb {
  background-color: #99cc66;
}

.MuiSlider-vertical .MuiSlider-track {
  width: 0.8em;
}

.main {
  padding-top: 10em;
}

#sliderText {
  background-color: #282c34;
}

@media (max-width:600px) {

  .PrivateValueLabel-offset-8 {
    font-size: 1.8em;
  }
  
}
