.main {
  color: white;
}

.networth {
  margin-bottom: 3em;
}

.MuiSlider-vertical .MuiSlider-rail {
  width: 0.8em;
  background-color: white;
}

.MuiSlider-track {
  height: 0.3em;
  width: 0.8em;
  background-color: rgb(212, 212, 212);
}

.MuiSlider-markLabel {
  color: white;
  font-size: 1em;
  margin-left: 1em;
}

/* .PrivateValueLabel-circle-9 {
  background-color: #99cc66;
}

.MuiSlider-thumb {
  background-color: #99cc66;
} */

.MuiSlider-vertical .MuiSlider-track {
  width: 0.8em;
}

#sliderText {
  background-color: #282c34;
  margin-right: 12em;
  margin-bottom: 6em;
  font-size: 1.125em;
}

/* styles for large screens */
@media (min-width: 600px) {
  .main {
    padding-top: 10em;
  }

  .slider {
    margin-left: 20em;
  }
}
