.bottomStatement {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  padding-bottom: 1.5em;
}

@media (max-width: 600px) {
  .bottomStatement {
    font-size: 1em;
  }
}
