.initialStatement {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 0.8em;
  color: #f9f9f9;
  border-radius: 0.5em;
  background-color: #282c34;
  border: 1px solid #000000;
  box-shadow: 5px 10px #00000061;
  padding: 1em;
  margin: 1em;
  display: inline-block;
}

.picker {
  text-align: center;
  font-size: 0.6em;
}

.picker:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.elon-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.elon-img {
  width: 10em;
}

.bill-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.bill-img {
  width: 5em;
}
.jeff-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.jeff-img {
  width: 12em;
}

.mark-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.mark-img {
  width: 9em;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Small device styles */
@media (max-width: 600px) {
  .picker {
    font-size: 2em;
  }

  .initialStatement {
    font-size: 2em;
  }

  .billionaire-img {
    max-width: 9em;
  }
}
