.intro {
  font-size: 0.6em;
  padding-bottom: 1em;
  margin: 1em;
  line-height: 120%;
}

.initialStatement {
  font-size: 0.6em;
  color: #f9f9f9;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  display: inline-block;
}

.valuepercent {
  font-size: 1.5em;
  font-family: 'Alegreya Sans', sans-serif;
}

.picker {
  text-align: center;
  font-size: 0.6em;
}

.picker:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.ElonMusk-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.ElonMusk-img {
  width: 10em;
}

.BillGates-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.BillGates-img {
  width: 5em;
}
.JeffBezos-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.JeffBezos-img {
  width: 12em;
}

.MarkZuckerberg-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.MarkZuckerberg-img {
  width: 8.5em;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Small device styles */
@media (max-width: 600px) {
  .picker {
    font-size: 1.2em;
    text-align: center;
  }

  .initialStatement {
    font-size: 1em;
  }

  .billionaire-img {
    max-width: 9em;
  }
  .intro {
    font-size: 1em;
  }
}
