.statements {
  text-align: right;
}

p {
  font-size: 1.8em;
  background-color: #282c34;
  text-align: right;
  padding: 0.4em;
}

.paragraph {
  padding-bottom: 10em;
}

.rendering {
  font-family: 'Alegreya Sans', sans-serif;
}

.big-number {
  font-size: 6.25em;
}

/* Small device styles */
@media (max-width: 600px) {
  .big-number {
    font-size: 3em;
  }
}
