.statements {
  text-align: center;
}

p {
  font-size: 1.2em;
  text-align: center;
  padding: 0.3em;
}

.paragraph {
  padding-bottom: 30em;
}

.rendering {
  font-family: 'Alegreya Sans', sans-serif;
}

.big-number {
  font-size: 2em;
}

/* Small device styles */
@media (max-width: 600px) {
  .big-number {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
    text-align: left;
  }
}
