.tax {
  text-align: center;
  position: sticky;
  font-size: 1.5em;
  top: 0em;
  background-color: #282c34;
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  text-align: right;
  padding-bottom: 2em;
}

.networth {
  background-color: #282c34;
  font-family: 'Alegreya Sans', sans-serif;
  padding-bottom: 3em;
  color: white;
}

.textBox {
  height: 100%;
}

/* styles for large screens */
@media (min-width: 600px) {
  .tax {
    font-size: 3em;
  }

  .textBox {
    padding-right: 5em;
  }
}
